@import "bootstrap";

body {
    background: url("business_background.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-end;
}

// .background-form {
//   background: url("business_background.jpg");
//   background-repeat: no-repeat;
//   background-size: 100%;
// }

.card {
  padding: 20px;
  background-color: #f6f6f7;
  border-color: white;
  width: 35rem;
  margin-top: 30px;
  margin-bottom: 30px;
 }

h1,
.show-card,
.application-header,
.table-body {
  color: black;
}

input {
  width: 100%;
  padding: 5px;
}

.form-group {
  margin: 6px;
}

 .btn-primary {
   background-color: #47d53b;
   border-color: rgb(179, 177, 177);
   color: #fff;

   &:hover {
     background-color: #45e437;
     border-color: rgb(245, 240, 240);
   }
 }

 .back-link {
   color: rgb(179, 177, 177);
 }

 .show-list {
   color: #fff;
 }

 h1 {
   text-align: center;
 }

.index-table-layout {
  background-color: whitesmoke;
  opacity: 0.90;
}